<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-lg-8 col-sm-10">
				<br>
				<br>
				<h1 class="mb-2">
					Web Scrapping Kalibrr.id
				</h1>
				<h3>
					Reported Period: Jan-May 2023
				</h3>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-4">
				<div class="card card-stats">
					<div class="card-header">
						<div class="card-icon">
							<i></i>
						</div>
						<pre>{{ card_data }}</pre>
						<h4 class="card-category">
							Job Posting by City
						</h4>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-lg-4 col-sm-4">
				<div class="card card-stats">
					<div class="card-header">
						<div class="card-icon">
							<i></i>
						</div>
						<pre>{{ card_data1 }}</pre>
						<h4 class="card-category">
							Job Posting by Posted Date
						</h4>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-lg-4 col-sm-4">
				<div class="card card-stats">
					<div class="card-header">
						<div class="card-icon">
							<i></i>
						</div>
						<pre>{{ card_data2 }}</pre>
						<h4 class="card-category">
							Job Posting by Deadline Date
						</h4>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<div class="tab">
					<button class="tablinks" onclick="openTab(event, 'city') " id="defaultOpen">by City
					</button>
					<button class="tablinks" onclick="openTab(event, 'posted')">by Posted Date
					</button>
					<button class="tablinks" onclick="openTab(event, 'deadline')">by Deadline Date
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<!-- Tab content -->
				<div id="city" class="tabcontent">
					<br>
					<h2 style="color: #333333;text-align:center">Top 5 Job Locations</h2>
					<h5 style="color: #333333;text-align:left">
						<ol>
							<li>Untuk pekerjaan pada kategori dibidang "Data", Jakarta memiliki jumlah kejadian tertinggi dari semua lokasi yang terdaftar di website ww.kalibrr.id. Hal ini dapat menjadi informasi yang berguna bagi para pengambil keputusan untuk memperhatikan Jakarta secara lebih khusus.</li>
							<li>Tangerang merupakan lokasi kedua dengan jumlah kejadian yang signifikan, meskipun jumlahnya jauh lebih rendah dari Jakarta. Hal ini dapat menjadi perhatian bagi para pengambil keputusan di Tangerang untuk memperbaiki atau mempertahankan kondisi yang sudah baik agar tetap menarik bagi para pengusaha.</li>
							<li>Bandung, Surabaya, dan Yogyakarta memiliki jumlah kejadian yang lebih sedikit dibandingkan dengan Jakarta dan Tangerang. Namun, hal ini tidak berarti bahwa keadaan di daerah-daerah tersebut kurang penting. Karena setiap daerah memiliki keunikan dan potensi yang berbeda-beda, maka penting bagi para pengambil keputusan untuk mengidentifikasi kelebihan dan kekurangan masing-masing daerah untuk mengambil langkah yang tepat dalam mengembangkan daerah tersebut.</li>
							<br>
							<p>Note : Perlu diperhatikan, jika melakukan scraping ulang, maka hasil akan berbeda.</p>
						</ol>
					</h5>
					<div class="img-container"">
						{% if funded_plot != None %}
					  <img src="data:image/png;base64,{{ plot_result }}" >
						{% endif %}
					</div>
				</div>
				<div id="posted" class="tabcontent">
				  <!-- Define your own analysis for extra challange -->
				  <br>
				  <h2 style="color: #333333;text-align:center">Total Frequency of Active Job Application</h2>
					<h5 style="color: #333333;text-align:left">
						<ol>
							<li>Dari diagram terlihat bahwa bulan April memiliki jumlah postingan terbanyak, diikuti oleh bulan Mei dengan, hal ini terkait dengan data yang diambil pada bulan mei hanya sampai dengan Tanggal 12 mei 2023 dimana capstone project ini dibuat. Jumlah postingan pada bulan-bulan lainnya jauh lebih sedikit yaitu bulan Maret, bulan Februari, dan bulan Januari.
								Faktor yang mempengauhi sedikitnya frekuensi pada bulan january, february dan march dikarenakan Postingan tersebut memiliki masa batas submit lamaran yang sudah habis sehingga sudah tidak dimunculkan kembali/dihapus oleh company yang memposting di website ww.kalibrr.com.</li>
							<br>
							<p>Note : Perlu diperhatikan, jika melakukan scraping ulang, maka hasil akan berbeda.</p>
						</ol>
					</h5>
				  <div class="img-container"">
					  {% if funded_plot != None %}
					<img src="data:image/png;base64,{{ plot_result1 }}" >
					  {% endif %}
				  </div>
				</div>
				<div id="deadline" class="tabcontent">
					<!-- Define your own analysis for extra challange -->
					<br>
					<h2 style="color: #333333;text-align:center">Job Posting By Deadline Date</h2>
						<h5 style="color: #333333;text-align:left">
							<li>Pada pembahasan ini dibuat, range data hasil scrapping adalah 01 Januari 2023 sd 12 Mei 2023, dapat liat lihat dari diagram line bahwa untuk dibulan yang sama dan 1 bulan kedepan masih menunjukan angka tertinggi untuk batas waktu penyerahan lamaran.</li>
							<li>Untuk bulan-bulan sebelumnya menunjukan angka terendah karena terkait dengan batas penyerahan lamaran yang sudah tidak berlaku lagi sehingga postingan sudah tidak muncul pada website www.kalibrr.com.</li>
							<li>Hal ini berkorelasi dari insight sebelumya dari Posted_Date dimana menunjukan angka yang rendah dikarenakan postingan lowongan pekerjaan tersebut memiliki batas lamaran yang sudah kadaluarsa.</li>
							<br>
							<p>Note : Perlu diperhatikan, jika melakukan scraping ulang, maka hasil akan berbeda.</p>
						</h5>
					<div class="img-container"">
						{% if funded_plot != None %}
					  <img src="data:image/png;base64,{{ plot_result2 }}" >
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
function openTab(evt, idName) {
	// Declare all variables
	var i, tabcontent, tablinks;

	// Get all elements with class="tabcontent" and hide them
	tabcontent = document.getElementsByClassName("tabcontent");
	for (i = 0; i < tabcontent.length; i++) {
	tabcontent[i].style.display = "none";
	}

	// Get all elements with class="tablinks" and remove the class "active"
	tablinks = document.getElementsByClassName("tablinks");
	for (i = 0; i < tablinks.length; i++) {
	tablinks[i].className = tablinks[i].className.replace(" active", "");
	}

	// Show the current tab, and add an "active" class to the button that opened the tab
	document.getElementById(idName).style.display = "block";
	evt.currentTarget.className += " active";

	}
	document.getElementById("defaultOpen").click();	
</script>